{% extends 'base.html' %}

{% block title %}
  Iniciar Sesión
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesión</h5>
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
