{% extends 'base.html' %}

{% block title %}
  Datos Personales
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Editar Datos Personales</h5>
            <form method="post" action="{% url 'usuario' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary w-100">Guardar Cambios</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
